{{ template "base.html" . }}
{{ define "lang" }}en{{ end }}
{{ define "title" }}Bulk Tor Exit Exporter{{ end }}
{{ define "body" }}
  <p><img src="/torcheck/img/tor-on.png" class="onion" /></p>
  <p>Welcome to the Tor Bulk Exit List exporting tool.</p>
  <p>If you are a service provider and you wish to build a list of possible Tor nodes that might contact one of your servers, enter that single server address below. Giving you the whole list means you can query the list privately, rather than telling us your users' IP addresses. This list allows you to have a nearly real time authoritative source for Tor exits that allow contacting your server on port 80. We don't log the IP address that queries for a given list. If you'd like, you're free to run your own copy of this program. It's Free Software and can be downloaded from the <a href="https://github.com/arlolra/check">git repository</a>.</p>

  <form action="/cgi-bin/TorBulkExitList.py" name="ip">
    <div>
      <label for="ip">IP:</label>
      <input type="text" name="ip" />
    </div>
    <div>
        <label for="port">Port:</label>
      <input type="text" name="port" />
    </div>
    <div>
      <input type="submit" value="Submit" />
    </div>
  </form>

{{ end }}